@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  @apply h-full font-sans;
}
body {
  @apply bg-gray-50;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body.loading * {
  transition: none !important;
}

.marqee-container {
  border: 2px solid red;
  overflow: hidden;
  white-space: nowrap;
  width: 350px;
  display: flex;
}

.marqee-wrapper {
  position: relative;
}

.marquee {
  animation: marquee 60s linear infinite;
}

.marquee2 {
  animation: marquee2 60s linear infinite;
  position: absolute;
  top: 0;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.container-1 {
  @apply mx-auto max-w-7xl mx-auto mt-6;
}

@media (min-width: 640px) {
  .container-1 {
    @apply px-6;
  }
}
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .container-1 {
    @apply px-8;
  }
}

@media (min-width: 1280px) {
}
