@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter-regular";
  src: url("../assets/font/Inter-Regular.ttf");
}
/* @font-face {
  font-family: "Inter-medium";
  src: url("../assets/fonts/Inter-Medium.ttf");
} */
@font-face {
  font-family: "Inter-bold";
  src: url("../assets/font/Inter-Bold.ttf");
}

html,
body {
  padding: 0;
  margin: 0;

  @apply h-full font-sans;
}
body {
  @apply bg-gray-50;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body.loading * {
  transition: none !important;
}

.marqee-container {
  border: 2px solid red;
  overflow: hidden;
  white-space: nowrap;
  width: 350px;
  display: flex;
}

.marqee-wrapper {
  position: relative;
}

.marquee {
  animation: marquee 60s linear infinite;
}

.marquee2 {
  animation: marquee2 60s linear infinite;
  position: absolute;
  top: 0;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.container-1 {
  @apply mx-auto max-w-7xl mx-auto mt-6;
}

@media (min-width: 640px) {
  .container-1 {
    @apply px-6;
  }
}
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .container-1 {
    @apply px-8;
  }
}

@media (min-width: 1280px) {
}

.ds-ease {
  animation-timing-function: cubic-bezier(0.6, 0.01, -0.05, 0.95);
  animation-duration: 600;
}

.ds-gradient-1 {
  background: linear-gradient(
    266.16deg,
    rgba(204, 251, 241, 0.75) 13.61%,
    rgba(153, 246, 228, 0.75) 98.57%
  );
}
.ds-gradient-2 {
  background: linear-gradient(
    266.16deg,
    rgba(204, 251, 241, 0.25) 13.61%,
    rgba(153, 246, 228, 0.25) 98.57%
  );
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.motion-fade-in {
  animation: fadeIn 600ms;
}
